:root {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #213547;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #747bff;
}

body, #root {
    margin: 0;
    display: flex;
    place-items: center;

    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #696969;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:active {
    background-color: #646cff;
    color: #ffffff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.danger {
    background-color: #e54d4d;
}

button.danger:hover {
    border-color: #e54d4d;
}

button.danger:active {
    background-color: #ff4d4d;
    color: #ffffff;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.grid {
    border-collapse: separate;
}

.grid td {
    width: 6rem;
    height: 6rem;

    margin: 0;
}

.grid-square {
    border: solid 0.4rem #000;
    background-size: contain;
}

/* too lazy 4 css modules */
.grid-square.crossed {
    background-image: url(/cross.png);
}

.grid-square.highlight {
    border-color: #f00;
}

.label {
    font-size: 2rem;
    color: #000;
    text-align: center;
}